apiVersion: batch/v1
kind: Job
metadata:
  name: ethos-go-migration
  namespace: ethos-go
spec:
  template:
    spec:
      containers:
      - name: migrate
        image: sammidev/ethos-go:latest
        imagePullPolicy: Always
        command: ["/usr/local/bin/migrate"]
        args:
          - "-path"
          - "/migrations"
          - "-database"
          - "postgres://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):$(DB_PORT)/$(DB_DB)?sslmode=$(DB_SSL_MODE)"
          - "up"
        envFrom:
        - configMapRef:
            name: ethos-go-config
        - secretRef:
            name: ethos-go-secret
      restartPolicy: OnFailure
  backoffLimit: 4
